<div class="section" id="content-header">
    <div class="container text-center">
        <div class="row justify-content-center gap-5">
            <div class="col-lg-4 text-center">
                <p class="h2 text-light mt-5">Content marketing solution & idea of your business</p>
                <p class="lead text-muted">Nettracking is a content marketing solution that tracks the effectiveness
                    of your blog,</p>
                <button type="button" class="btn text-light" style="background:#FF664F">Explore Platform <i
                        class="bi bi-arrow-right-short"></i></button>
                <button type="button" class="btn btn-secondary ">Learn More</button>
            </div>
        </div>
    </div>
</div>