<section id="FAQ">
    <div class="container text-center mt-5">
        <div class="row justify-content-center gap-5">
            <div class="col-lg-5 text-center">
                <p class="h2 text-light mt-5">FAQ</p>
                <p class=" text-muted">Measure marketing and PR effectiveness. Find out which
                </p>
            </div>
        </div>
    </div>

    <div class="container-lg rounded-4 p-5" style="background-color: #1E2029;">
        <div class="row justify-content-center gap-3 p-3">

            <div class="col-lg-8 rounded-3 p-3" style="background-color: #272932;">
                <div class="row gap-3 p-3">

                    <div class="rounded-circle border border-secondary d-flex justify-content-center align-items-center text-light"
                        style="width:50px;height:50px;background-color: #272932;" alt="Avatar">
                        01
                    </div>
                    <p class="h6 text-light">What is nettracking</p>
                    <p class="h6 text-muted">"Nettracking" is a very powerful Web 2.0 site search engine allows you
                        to find
                    </p>

                </div>

            </div>
        </div>
    </div>
</section>