<section id="FAQ">
    <div class="container text-center mt-5">
        <div class="row justify-content-center gap-5">
            <div class="col-lg-5 text-center">
                <p class="h2 text-light mt-5">FAQ</p>
                <p class=" text-muted">Measure marketing and PR effectiveness. Find out which
                </p>
            </div>
        </div>
    </div>

    <div class="container-lg rounded-4 p-4" style="background-color: #1E2029;">
        <div class="row justify-content-center align-items-center gap-3 p-3">
            <div class="col-lg-8 rounded-3 p-3 d-inline-flex align-items-center" style="background-color: #272932;">
                <div class="me-4 fw-bold rounded-circle border border-secondary text-muted d-flex justify-content-center align-items-center text-light"
                    style="width:50px;height:50px;background-color: #272932;" alt="Avatar">
                    01
                </div>
                <div>
                    <p class="h6 text-light">What is nettracking</p>
                    <p class="h6 text-muted">"Nettracking" is a very powerful Web 2.0 site search engine allows you
                        to find
                    </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center align-items-center gap-3 p-3">
            <div class="col-lg-8 rounded-3 p-3 d-inline-flex align-items-center" style="background-color: #272932;">
                <div class="me-4 fw-bold rounded-circle border border-secondary text-muted d-flex justify-content-center align-items-center text-light"
                    style="width:50px;height:50px;background-color: #272932;" alt="Avatar">
                    02
                </div>
                <div>
                    <p class="h6 text-light">Pacage tracking available?</p>
                    <p class="h6 text-muted">"Nettracking" is designed with an integrated tracking system that allows customers to track their package
                    </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center align-items-center gap-3 p-3">
            <div class="col-lg-8 rounded-3 p-3 d-inline-flex align-items-center" style="background-color: #272932;">
                <div class="me-4 fw-bold rounded-circle border border-secondary text-muted d-flex justify-content-center align-items-center text-light"
                    style="width:50px;height:50px;background-color: #272932;" alt="Avatar">
                    03
                </div>
                <div>
                    <p class="h6 text-light">What is the best solution in this platform</p>
                    <p class="h6 text-muted">"Nettracking" is a content marketing solution that tracks the effectiveness of your blog, social media,
                    </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center align-items-center gap-3 p-3">
            <div class="col-lg-8 rounded-3 p-3 d-inline-flex align-items-center" style="background-color: #272932;">
                <div class="me-4 fw-bold rounded-circle border border-secondary text-muted d-flex justify-content-center align-items-center text-light"
                    style="width:50px;height:50px;background-color: #272932;" alt="Avatar">
                    04
                </div>
                <div>
                    <p class="h6 text-light">Marketing friendly?</p>
                    <p class="h6 text-muted">"video and email marketing efforts. By converting your customers into tracking
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>