<footer class="pt-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 pr-md-5">
                <p class="text-light h5">Nettracking</p>
                <small class="text-muted">We saw our customers confusing us with some of the companies
                    intheindustry</small>
                <p class="mt-3">
                    <a href="#"><i class="bi bi-facebook text-muted me-2"></i></a>
                    <a href="#"><i class="bi bi-twitter text-muted  me-2"></i></a>
                    <a href="#"><i class="bi bi-linkedin text-muted"></i></a>
                </p>

            </div>
            <div class="col-md">
                <ul class="list-unstyled nav-links">
                    <li>
                        <p class="h6 text-light mb-3">Product</p>
                    </li>
                    <li><a href="#" class="text-decoration-none">
                            <p class="mb-1 text-muted">Product</p>
                        </a></li>
                    <li><a href="#" class="text-decoration-none">
                            <p class="mb-1 text-muted">Features</p>
                        </a></li>
                    <li><a href="#" class="text-decoration-none">
                            <p class="mb-1 text-muted">Pricing</p>
                        </a></li>
                    <li><a href="#" class="text-decoration-none">
                            <p class="mb-1 text-muted">Case Studies</p>
                        </a></li>
                </ul>
            </div>

            <div class="col-md">
                <ul class="list-unstyled nav-links">
                    <li>
                        <p class="h6 text-light mb-3">Service</p>
                    </li>
                    <li><a href="#" class="text-decoration-none">
                            <p class="mb-1 text-muted">Blog</p>
                        </a></li>
                    <li><a href="#" class="text-decoration-none">
                            <p class="mb-1 text-muted">Road Map</p>
                        </a></li>
                    <li><a href="#" class="text-decoration-none">
                            <p class="mb-1 text-muted">Testimonials</p>
                        </a></li>
                    <li><a href="#" class="text-decoration-none">
                            <p class="mb-1 text-muted">Good Tear</p>
                        </a></li>
                </ul>
            </div>

            <div class="col-md">
                <ul class="list-unstyled nav-links">
                    <li>
                        <p class="h6 text-light mb-3">Solutions</p>
                    </li>
                    <li><a href="#" class="text-decoration-none">
                            <p class="mb-1 text-muted">Process Management</p>
                        </a></li>
                    <li><a href="#" class="text-decoration-none">
                            <p class="mb-1 text-muted">Request Management</p>
                        </a></li>
                    <li><a href="#" class="text-decoration-none">
                            <p class="mb-1 text-muted">Workflow Management</p>
                        </a></li>
                    <li><a href="#" class="text-decoration-none">
                            <p class="mb-1 text-muted">Finance</p>
                        </a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row mt-5" style="background-color: #1e2029;">
        <div class="col text-center">
            <div class="text-muted p-2">
                <small>&copy; Copyright 2021 by ULHUT. All right Reserved.</small>
            </div>
        </div>
    </div>

</footer>