<section id="howItWorks">
    <div class="container text-center mt-5 justify-content-center">
        <div class="row justify-content-center gap-5">
            <div class="col-lg-5 text-center">
                <p class="h2 text-light mt-5">How it works</p>
            </div>
        </div>
    </div>

    <div class="container-lg">
        <div class="row justify-content-center gap-3 mt-5">
            <div class="col-lg-10 rounded-4 p-5" style="background-color: #1E2029;">

                <div class="row justify-content-center align-items-center gap-5">
                    <div class="col-lg-4  rounded-4 text-center" style="background-color: #272932;">
                        <img class="img-fluid" src="assets/1.png" alt="">
                    </div>

                    <div class="rounded-circle d-flex justify-content-center align-items-center text-light"
                        style="width:50px;height:50px;background-color: #272932;" alt="Avatar">
                        01
                    </div>

                    <div class="col-lg-4">
                        <p class="h4 text-light" style="max-width: 70%;">Add Website</p>
                        <p class="h6 fw-normal text-muted mt-3 pe-5">Nettracking gives you an innovative web-based tool
                            that manages, filters and reports on your website's
                        </p>

                    </div>
                </div>

                <div class="row justify-content-center align-items-center gap-5 mt-5">
                    <div class="col-lg-4">
                        <p class="h4 text-light" style="max-width: 70%;">Get Tracking Code</p>
                        <p class="h6 fw-normal text-muted mt-3 pe-5">filters and reports on your website's search engine
                            ranking results. In short, nettracking gives you the information
                        </p>
                    </div>

                    <div class="rounded-circle d-flex justify-content-center align-items-center text-light"
                        style="width:50px;height:50px;background-color: #272932;" alt="Avatar">
                        02
                    </div>

                    <div class="col-lg-4  rounded-4 text-center" style="background-color: #272932;">
                        <img class="img-fluid" src="assets/2.png" alt="">
                    </div>

                </div>

                <div class="row justify-content-center align-items-center gap-5 mt-5">
                    <div class="col-lg-4  rounded-4 text-center" style="background-color: #272932;">
                        <img class="img-fluid" src="assets/3.png" alt="">
                    </div>

                    <div class="rounded-circle d-flex justify-content-center align-items-center text-light"
                        style="width:50px;height:50px;background-color: #272932;" alt="Avatar">
                        03
                    </div>

                    <div class="col-lg-4">
                        <p class="h4 text-light" style="max-width: 70%;">Start Tracking</p>
                        <p class="h6 fw-normal text-muted mt-3 pe-5">in your website's ranking position and accuracy
                            track organic (or natural) search engine movement over time.
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>