<section id="howItWorks">
    <div class="container text-center mt-5 justify-content-center">
        <div class="row justify-content-center gap-5">
            <div class="col-lg-5 text-center">
                <p class="h2 text-light mt-5">How it works</p>
            </div>
        </div>
    </div>

    <div class="container-lg">
        <div class="row justify-content-center gap-3 mt-5">
            <div class="col-lg-10 rounded-4 p-5 mh-100" style="background-color: #1E2029;">


            </div>
        </div>
    </div>
</section>