<div class="container text-center mt-5" id="features">
    <div class="row justify-content-center gap-5">
        <div class="col-lg-5 text-center">
            <p class="h2 text-light mt-5">Key features</p>
            <p class="lead text-muted">Nettracking has quickly become the go-to content marketing solution for over
                600
                clients around the world
            </p>
        </div>
    </div>
</div>

<div class="container-sm rounded-4 py-5 mt-5" style="background-color: #1E2029;">
    <div class="row justify-content-center gap-5">
        <div class="col-3">
            <div class="rounded-circle d-flex justify-content-center align-items-center"
                style="width:50px;height:50px;background-color: #17141D;" alt="Avatar">
                <i class="bi bi-book-half" style="color: #FF664F; "></i>
            </div>
            <p class="h5 fs-4 text-light mt-3">Real-time Email Alerts</p>
            <p class="lead text-muted">Nettracking is a very powerful web 2.0 site search engine allows you to
                find email alerts
            </p>
        </div>

        <div class="col-3">
            <div class="rounded-circle d-flex justify-content-center align-items-center"
                style="width:50px;height:50px;background-color: #17141D;" alt="Avatar">
                <i class="bi bi-display-fill" style="color: #FF664F; "></i>
            </div>
            <p class="h5 fs-4 text-light mt-3">Monitor Inbound Traffic</p>
            <p class="lead text-muted">The biggest challenge for marketers is being heard inbound traffice in market.
            </p>
        </div>

        <div class="col-3">
            <div class="rounded-circle d-flex justify-content-center align-items-center"
                style="width:50px;height:50px;background-color: #17141D;" alt="Avatar">
                <i class="bi bi-pie-chart-fill" style="color: #FF664F; "></i>
            </div>
            <p class="h5 fs-4 text-light mt-3">Track Multiple Sites</p>
            <p class="lead text-muted">Nettracking gives you an innovative web-based tool that manages multiple sites</p>
        </div>
    </div>

    <div class="row justify-content-center gap-5 mt-5">
        <div class="col-3">
            <div class="rounded-circle d-flex justify-content-center align-items-center"
                style="width:50px;height:50px;background-color: #17141D;" alt="Avatar">
                <i class="bi bi-bar-chart-line-fill" style="color: #FF664F; "></i>
            </div>
            <p class="h5 fs-4 text-light mt-3">Aggregate Statistics</p>
            <p class="lead text-danger">Nettracking is a very powerful web 2.0 site search engine allows you to
                find email alerts
            </p>
        </div>

        <div class="col-3">
            <div class="rounded-circle d-flex justify-content-center align-items-center"
                style="width:50px;height:50px;background-color: #17141D;" alt="Avatar">
                <i class="bi bi-exclude" style="color: #FF664F; "></i>
            </div>
            <p class="h5 fs-4 text-light mt-3">Edit Exclude</p>
            <p class="lead text-muted">Nettracking is a very powerful web 2.0 site search engine allows you to
                find email alerts
            </p>
        </div>

        <div class="col-3">
            <div class="rounded-circle d-flex justify-content-center align-items-center"
                style="width:50px;height:50px;background-color: #17141D;" alt="Avatar">
                <i class="bi bi-book-half" style="color: #FF664F; "></i>
            </div>
            <p class="h5 fs-4 text-light mt-3">Easy To Implement</p>
            <p class="lead text-muted">Nettracking is a very powerful web 2.0 site search engine allows you to
                find email alerts
            </p>
        </div>
    </div>
</div>