<div class="container-lg">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="#">Nettracking <div
                    class="form-check form-switch d-inline-flex">
                    <input class="form-check-input bg-secondary border-dark" type="checkbox" role="switch" checked>
                </div></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-light" aria-current="page" href="#features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="#pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="#howItWorks">How it works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="#knowledgeBase">Knowledge base</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="#FAQ">FAQ</a>
                    </li>
                </ul>
                <form class="d-flex gap-3">
                    <button class="btn btn-dark" type="button">Sign In</button>
                    <button class="btn btn-light" type="button">Sign Up</button>
                </form>
            </div>
        </div>
    </nav>
</div>