<section id="pricing">
    <div class="container text-center mt-5">
        <div class="row justify-content-center gap-5">
            <div class="col-lg-5 text-center">
                <p class="h2 text-light mt-5">Our pricing plan</p>
                <p class="h6 fw-normal text-muted">Online sales tracker that tracks the success of your online sales
                    efforts.
                </p>
            </div>
        </div>
    </div>

    <div class="container-lg">
        <div class="row justify-content-center gap-4 mt-5">
            <div class="col-lg-3 rounded-4 p-5" style="background-color: #1E2029;">
                <p class="h5 text-light" style="max-width: 70%;">Free</p>
                <p class="h2 fw-bold text-light">$00 <span class="h6 fw-bold text-muted">3 month trial</span></p>

                <p class="mt-4 fw-bold text-muted"><i class="bi bi-check-lg" style="color:#04AA69"></i> B2B Marketing</p>
                <p class="fw-bold text-muted"><i class="bi bi-check-lg" style="color:#04AA69"></i> Cloud-based solution</p>
                <p class="fw-bold text-muted"><i class="bi bi-check-lg" style="color:#04AA69"></i> Marketing strategies</p>
                <p class="fw-bold text-muted"><i class="bi bi-check-lg" style="color:#04AA69"></i> Automated follow up</p>
                <button type="button" class="btn text-light mt-3" style="background:#04AA69">Start free trial</button>
            </div>

            <div class="col-lg-3 rounded-4 p-5" style="background-color: #1E2029;">
                <p class="h5 text-light" style="max-width: 70%;">Basic</p>
                <p class="h2 fw-bold text-light">$29 <span class="h6 fw-bold text-muted">3 month trial</span></p>
                
                <p class="mt-4 fw-bold text-muted"><i class="bi bi-check-lg" style="color:#FF7661"></i> B2B Marketing</p>
                <p class="fw-bold text-muted"><i class="bi bi-check-lg" style="color:#FF7661"></i> Cloud-based solution</p>
                <p class="fw-bold text-muted"><i class="bi bi-check-lg" style="color:#FF7661"></i> Marketing strategies</p>
                <p class="fw-bold text-muted"><i class="bi bi-check-lg" style="color:#FF7661"></i> Automated follow up</p>
                <button type="button" class="btn text-light mt-3" style="background:#FF7661">Get Started</button>
            </div>

            <div class="col-lg-3 rounded-4 p-5" style="background-color: #1E2029;">
                <p class="h5 text-light" style="max-width: 70%;">Premium</p>
                <p class="h2 fw-bold text-light">$99 <span class="h6 fw-bold text-muted">3 month trial</span></p>
                
                <p class="mt-4 fw-bold text-muted"><i class="bi bi-check-lg" style="color:#855AFF"></i> B2B Marketing</p>
                <p class="fw-bold text-muted"><i class="bi bi-check-lg" style="color:#855AFF"></i> Cloud-based solution</p>
                <p class="fw-bold text-muted"><i class="bi bi-check-lg" style="color:#855AFF"></i> Marketing strategies</p>
                <p class="fw-bold text-muted"><i class="bi bi-check-lg" style="color:#855AFF"></i> Automated follow up</p>
                <button type="button" class="btn text-light mt-3" style="background:#855AFF">Get Started</button>
            </div>
        </div>
    </div>
</section>